@model Treino.Web.Areas.StudioGhibli.Models.ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h2 class="text-danger">Um erro ocorreu na requisição</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
